 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a3855cfd176a6d56cf290873a1ea516916c2bb4d20c3bc95e943c2d0816d2ea2dd1d3051162c825ca4dad7af0f601e2444e812bb95d7934e0f4669_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 347px;
}

.u-section-1 .u-text-1 {
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 54px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 69px 0 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 73px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto;
} .u-section-3 {
  background-image: url("images/b2a631b37f0bc44e201e9fbb4370aa764874e51ea61e6c8b6a325920bec75ecfc7361770f2321725a48870d9b036887d857820b1aa292ac721e4c2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-image-1 {
  width: 200px;
  height: 200px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/add3aef090d8f71fb94f851625259b6bb960434c6bdfa113d6892193aa3fcfe95c2427dba6aec3edd03921f3396ed02db69ed7ff611021428258c9_1280.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px 40px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 151px;
  height: 55px;
  margin: -35px 64px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -48px -19px 0 842px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  height: 200px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/80454229.png");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -211px auto 0;
}

.u-section-3 .u-shape-2 {
  width: 151px;
  height: 55px;
  margin: -36px auto 0;
}

.u-section-3 .u-text-2 {
  width: 417px;
  margin: -47px auto 0;
}

.u-section-3 .u-image-3 {
  width: 200px;
  height: 200px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/add3aef090d8f71fb94f851625259b6bb960434c6bdfa113d6892193aa3fcfe95c2427dba6aec3edd03921f3396ed02db69ed7ff611021428258c9_1280.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -211px auto 0 40px;
}

.u-section-3 .u-shape-3 {
  width: 151px;
  height: 55px;
  margin: -35px auto 0 66px;
}

.u-section-3 .u-text-3 {
  margin: -48px 790px 60px -67px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: -34px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 642px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -47px;
    margin-right: 646px;
    margin-left: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-top: 90px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -36px;
    margin-right: 65px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -47px;
    margin-right: 64px;
    margin-left: 504px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -36px;
    margin-left: 65px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -46px;
    margin-right: 473px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: 218px;
    margin-right: 165px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -33px;
    margin-right: 189px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 187px;
    margin-left: 200px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -431px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -37px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: -108px;
    margin-left: 232px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -208px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -38px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -47px;
    margin-right: 340px;
    margin-left: -7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-right: 140px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 100px;
    margin-right: 87px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 240px;
  }
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 73px;
}

.u-section-4 .u-text-1 {
  margin: 17px auto;
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/8edea865a045e3e3e2ef39fa36bfeb3df75a25d2d90099fdc831c9926c6a30d4e485beaf3ad0b831a9f801fa97f7a27e1f4d690d0942ae175dc244_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 492px;
}

.u-section-5 .u-text-1 {
  margin: 36px -124px 0 438px;
}

.u-section-5 .u-image-1 {
  width: 250px;
  height: 244px;
  margin: -244px auto 0 85px;
}

.u-section-5 .u-text-2 {
  margin: 0 62px 41px 43px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 338px;
  }

  .u-section-5 .u-image-1 {
    width: 244px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 147px;
  }
}.logo {
border-radius: 50%;
}