body {
    overflow-x: hidden;
}

.header {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    /*left: -10px;*/
    /*top: -10px;*/
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    /*transform: translate(-50%, -50%);*/
    font-weight: lighter;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    /*transform: translate(-50%, -50%);*/
}

.titleimg {
    background: linear-gradient(90deg, rgba(46, 0, 73, 1) 10%, rgba(54, 198, 255, 1) 100%);
    height: 427px;
    left: -10px;
    width: 100%;
}

.projects {
    position: relative;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.pixeltrailtxt {
    position: absolute;
    color: white;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    top: 630px;
    left: 300px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pixeltrailimg {
    position: absolute;
    top: 555px;
    left: 14.5%;
    width: 10%;
    border-width: 5px;
    box-sizing: border-box;
    border-style: static;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(89, 0, 255), rgb(16, 109, 230));
    padding: 10px;
    transition: 0.5s;
}

.pixeltrailimg:hover {
    cursor: pointer;
    width: 11%;
    left: 14%;
    top: 545px;
    filter: invert(1);
    border-color: white;
    background: linear-gradient(to right, #a7fd01, #ed9219);
}

.turagchoidetxt {
    position: absolute;
    color: white;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    top: 637.5px;
    left: 45.75%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.turagchoideimg {
    position: absolute;
    top: 555px;
    left: 45%;
    width: 10%;
    border-width: 5px;
    box-sizing: border-box;
    border-style: static;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(89, 0, 255), rgb(16, 109, 230));
    padding: 10px;
    transition: 0.5s;
}

.turagchoideimg:hover {
    cursor: pointer;
    width: 11%;
    left: 44.5%;
    top: 545px;
    filter: invert(1);
    border-color: white;
    background: linear-gradient(to right, #a7fd01, #ed9219);
}

.pystufftxt {
    position: absolute;
    color: white;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    top: 630px;
    right: 307.5px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pystuffimg {
    position: absolute;
    top: 555px;
    right: 14.5%;
    width: 10%;
    border-width: 5px;
    box-sizing: border-box;
    border-style: static;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(89, 0, 255), rgb(16, 109, 230));
    padding: 10px;
    transition: 0.5s;
}

.pystuffimg:hover {
    cursor: pointer;
    width: 11%;
    right: 14%;
    top: 545px;
    filter: invert(1);
    border-color: white;
    background: linear-gradient(to right, #a7fd01, #ed9219);
}

.line {
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(89, 0, 255), rgb(16, 109, 230)) 1;
    display: block;
    height: 170px;
    left: -10px;
    width: 100%;
}

.ProjectName {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 700%;
    text-align: center;
    top: 150px;
}

.ProjectName::before {
    transition: 1s;
    color: transparent;
    content: "PixlTrail";
}

.pixeltrail:hover~.ProjectName::before {
    transition: 2s;
    color: #fff;
    content: 'PixlTrail';
}

.ProjectName2 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 700%;
    text-align: center;
    top: 810px;
    width: 99.6%;
}

.ProjectName2::before {
    transition: 1s;
    color: transparent;
    content: "Websites";
}

.turagchoide:hover~.ProjectName2::before {
    transition: 2s;
    color: #fff;
    content: 'Websites';
}

.ProjectName3 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 700%;
    text-align: center;
    top: 810px;
    width: 99.6%;
}

.ProjectName3::before {
    transition: 1s;
    color: transparent;
    content: "Python Stuff";
}

.pystuff:hover~.ProjectName3::before {
    transition: 2s;
    color: #fff;
    content: 'Python Stuff';
}